.form {
  padding: 2.5em;
  background: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  & input {
    border: 2px solid grey;
    padding: .5em;
    font-size: 1.2em;
    &:focus {
      outline: 0;
      border-color: darkslateblue;
    }
  }
}

.alert {
  color: red;
}